@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "عطل";
}

@*      Done by    ameera_45149       *@

<div class="container">
    <div class="row">
        <div class=" col-md-12">
            <br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br />

            <p style="text-align:center;font-weight:500">
                حصل خطأ أثناء معالجة طلبك يرجى إعادة الطلب
            </p>
        </div>
        <br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br />


    </div>
</div>

